<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Тестовое задание{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block extra_styles %}{% endblock extra_styles %}
</head>

<body>

    <header>
        <div class="container">
            <div class="header-content">
                <h2>Иерархия сотрудников</h2>

            </div>
            <div class="auth-links">
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Вход</a> / <a href="/registration/">Регистрация</a></p>
                {% else %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Выход</button>
                    </form>
                {% endif %}
                <h3>{{ user.username|default:'Guest' }}</h3>
            </div>
        </div>
    </header>


    {% block table %}

    <div class="buttons">
        <button onclick="location.href='workers_tree/'" class="large-button" type="button">Workers tree</button>
        <button onclick="location.href='workers_info/'" class="large-button" type="button">Workers info</button>
    </div>

    {% endblock table %}


    <footer>
        <p>Бровченко Александр &copy; 2024</p>
    </footer>

</body>
</html>

